armsrc/obj/*.o
armsrc/obj/*.elf
armsrc/obj/*.s19
armsrc/obj/*.map
armsrc/obj/*.d
armsrc/version.c
bootrom/obj/*.o
bootrom/obj/*.elf
bootrom/obj/*.s19
bootrom/obj/*.map
bootrom/obj/*.d
bootrom/version.c
client/obj/*.o
client/obj/nonce2key/*.o
client/*.moc.cpp
client/cli
client/cli.exe
client/flasher
client/flasher.exe
client/proxmark3
client/proxmark3.exe
client/snooper
client/snooper.exe

